/**
 * Custom styles are added.
 *
 * Here we are overriding the BootStrap theme to create our own theme.
 *
 * Default WordPress Styles are also added here.
 * 
 * We have added Default styling for Widgets.
 **/

 /*------------------------------------*\
	$BASE
\*------------------------------------*/

body{
	overflow-x: hidden;
}


/*------------------------------------*\
	$HEADER
\*------------------------------------*/

.header-mobile-button{
	margin-right: 10px;
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -o-border-radius: .25rem;
    border-radius: .25rem;
    background: 0 0;
}

	.heaer-mobile-button:first-of-type{ margin-left: auto; }

.breadcrumb, .woocommerce-breadcrumb{
	text-align: right;
	background-color: transparent;
}

	.breadcrumb .breadcrumb-item,
	.woocommerce-breadcrumb a{
		float: none;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}

.mobile-search{
	display: none;
}

	.mobile-search input[type="text"],
	.mobile-search button[type="submit"]{
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-o-border-radius: 0px;
		border-radius: 0px;
	}

	.mobile-search button[type="submit"]{
		line-height: 1.3;
	}

#navbarToggler{ margin-left: auto; }

#mobileSearchToggle{ margin-left: auto; }

	#mobileSearchToggle + #navbarToggler{ margin-left: 0; }

#mobileCart{
	margin-left: auto;
	margin-right: 0;
}

	#mobileCart + #mobileSearchToggle{ margin-left: 0; }

@media screen and (max-width: 991px){

	.header-mobile-button{
		padding: .25rem .35rem;
	}

	.breadcrumb,
	.woocommerce-breadcrumb{
		padding-left: 0;
		padding-right: 0;
		text-align: left;
	}

	.mobile-search.is--open{
		display: block;
		width: 100%;
	}
}

.page-header{
	padding: 30px 0;
}
	.page-header h1{
		margin-top: 0.5rem;
	}

	.page-header h1,
	.page-header .breadcrumb,
	.page-header .woocommerce-breadcrumb{
		margin-bottom: 0;
	}

	.page-header .row .col:first-child .breadcrumb,
	.page-header .row .col:first-child .woocommerce-breadcrumb{ text-align: left; }


/*------------------------------------*\
	$FOOTER
\*------------------------------------*/

.copyright{
	text-align: center;
	padding: .7rem 0;
}


/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/

.navbar{

}

	.navbar-brand{ margin: 0; }

		.navbar-brand span{
			font-size: 0;
			overflow: hidden;
			color: transparent;
		}

		.navbar-brand a,
		.navbar-brand a:hover{
			color: transparent;
		}

	.navbar .navbar-nav.ml-auto{
		margin-right: 1rem;
	}

		.navbar .navbar-nav .sub-menu{
			padding-left: 15px;
			padding-right: 15px;
		}

		.navbar .navbar-nav.ml-auto .sub-menu{ text-align: right; }

		.navbar .navbar-nav.mr-auto .sub-menu{ text-align: left; }
 
	.navbar .header-cta{
		margin: 0 0 0 10px;
	}

	.navbar .social-list{
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}

	.navbar .navbar-toggler{ border-color: inherit; }

	.navbar .social-list li a{
		padding: 0 4px;
	}

	.navbar .navbar-nav.ml-auto li.menu-item-has-children .sub-menu{ right: 0; }

	.navbar .navbar-nav.mr-auto li.menu-item-has-children .sub-menu{ left: 0; }

	.navbar .navbar-nav li.menu-item-has-children{ position: relative; }

		.navbar .navbar-nav li.menu-item-has-children .sub-menu{
			position: absolute;
			top: 100%;
			white-space: nowrap;
			z-index: 200;
		}

		.navbar .navbar-nav li.menu-item-has-children .sub-menu{
			display: none;
		}

		.navbar .navbar-nav li.menu-item-has-children:hover .sub-menu{
			display: block;
		}

		.navbar .navbar-nav li.menu-item-has-children > a{ display: inline-block; }

		.navbar .navbar-nav li.menu-item-has-children > .arrow{
			display: inline-block;
			width: 0;
			height: 0;
			margin-bottom: -4px;
			margin-right: .355em;
			vertical-align: .255em;
			content: "";
			border-top: .3em solid;
			border-right: .3em solid transparent;
			border-bottom: 0;
			border-left: .3em solid transparent;
		}

.top-bar{
	padding: 10px;
}
	.top-bar h1, .top-bar h2,
	.top-bar h3, .top-bar h4,
	.top-bar h5, .top-bar h6,
	.top-bar p, .top-bar a,
	.top-bar small, .top-bar em,
	.top-bar strong{
		margin: 0;
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
		font-style: inherit;
		font-size: inherit;
		line-height: inherit;
		text-transform: inherit;
	}


@media screen and (max-width: 991px){

	.navbar .navbar-nav li.menu-item-has-children > .arrow{
		margin-bottom: -4px;
		margin-left: .75em;
		border-top: .5em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;
	}

	.navbar .navbar-nav.ml-auto .sub-menu,
	.navbar .navbar-nav.mr-auto .sub-menu{ text-align: left; }

	.navbar .navbar-nav li.menu-item-has-children .sub-menu{
		position: static;
		margin-left: 20px;
	}

	.navbar .navbar-nav li.menu-item-has-children:hover .sub-menu{
		display: none;
	}

	.navbar .navbar-nav li.menu-item-has-children.is--active .sub-menu{
		display: block;
	}

	.navbar .navbar-nav li.menu-item-has-children.is--active .arrow{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/*------------------------------------*\
	$POST
\*------------------------------------*/

.post-featured-image{
	
}

	.post-featured-image img{
		width: 100%;
		height: auto;
	}



/*------------------------------------*\
	$WIDGETS
\*------------------------------------*/

.widgettitle{
	margin-top: .5rem;
	margin-bottom: 1rem;
}

.widget, .widget-container{
	margin-bottom: 2rem;
}

.widget.widget_pages > ul,
.widget.widget_archive > ul,
.widget.widget_recent_entries > ul,
.widget.widget_categories > ul,
.widget.widget_recent_comments > ul,
.woocommerce.widget_product_categories ul{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

	.widget.widget_pages > ul > li,
	.widget.widget_archive > ul > li,
	.widget.widget_recent_entries > ul > li,
	.widget.widget_categories > ul > li,
	.widget.widget_recent_comments > ul > li,
	.woocommerce.widget_product_categories > ul > li {
		position: relative;
	    display: block;
	    padding: .75rem 1.25rem .75rem 0;
	    margin-bottom: -1px;
	    border-top: 1px dashed rgba(0,0,0,.125);
	}

		.widget.widget_pages > ul > li:first-child,
		.widget.widget_archive > ul > li:first-child,
		.widget.widget_recent_entries > ul > li:first-child,
		.widget.widget_categories > ul > li:first-child,
		.widget.widget_recent_comments > ul > li:first-child,
		.woocommerce.widget_product_categories > ul > li:first-child {
		    /*border-top-left-radius: .25rem;
		    border-top-right-radius: .25rem;*/
		}

		.widget.widget_pages > ul > li:last-child,
		.widget.widget_archive > ul > li:last-child,
		.widget.widget_recent_entries > ul > li:last-child,
		.widget.widget_categories > ul > li:last-child,
		.widget.widget_recent_comments > ul > li:last-child,
		.woocommerce.widget_product_categories > ul > li:last-child {
			margin-bottom: 0;
		    /*border-bottom-right-radius: .25rem;*/
		    /*border-bottom-left-radius: .25rem;*/
		    border-bottom: 1px dashed rgba(0,0,0,.125);
		}

			.widget.widget_pages > ul > li .children,
			.widget.widget_archive > ul > li .children,
			.widget.widget_recent_entries > ul > li .children,
			.widget.widget_categories > ul > li .children,
			.widget.widget_recent_comments > ul > li .children,
			.woocommerce.widget_product_categories > ul > li .children {
				margin: .75rem 0 0 1.25rem;
			}

				.widget.widget_pages > ul > li .children li,
				.widget.widget_archive > ul > li .children li,
				.widget.widget_recent_entries > ul > li .children li,
				.widget.widget_categories > ul > li .children li,
				.widget.widget_recent_comments > ul > li .children li,
				.woocommerce.widget_product_categories > ul > li .children li {
					margin-bottom: 0.75rem;
				}

.widget.widget_calendar .calendar_wrap{
	padding: .75em;
	background-color: #FFFFFF;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
}

.widget.widget_calendar #wp-calendar{
	width: 100%;
}

.widget.widget_calendar #wp-calendar td,
.widget.widget_calendar #wp-calendar th{
	text-align: center;
	padding: 2px;
}

.widget.widget_calendar #wp-calendar td#today{
	background-color: rgba(0,0,0,.125);
	color: #FFF;
}

.widget.widget_tag_cloud .tagcloud a{
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
}



/*------------------------------------*\
	$COMMENTS
\*------------------------------------*/

.comments{
	margin-top: 2rem;
}

	.comments > ul{
		
	}

	.comments .comment {
		padding: 1rem 1.25rem;
	}

	.comments .comment.parent{
		padding-bottom: 0;
	}

	.comments > ul > .comment .comment-body {
		padding: 1rem;
		border: 1px solid #efeeee;
    	border-radius: 8px;
    	box-shadow: 0px 4px 8px 0px rgba(183, 183, 183, 0.1)
	}

	.comments > ul > .comment .comment-body .comment-author {
		margin-bottom: .75rem;
	}

	.comments .comment .comment-body .comment-meta {
		padding: 0.5rem 0.25rem;
	    margin-bottom: 0.75rem;
	    border-top: 1px dashed #e8e8e8;
	    border-bottom: 1px dashed #e8e8e8;
	    font-size: 0.75rem;
	}

	.comments .children {
		margin-left: 1rem;
		margin-top: 1rem;
	}

		.comments .children .comment {
			margin-bottom: 0.75rem;
			border-bottom: none;
		}

.comment-form {

}
	.comment-form label {
		display: block;
	}

	.comment-form textarea {
		display: block;
		width: 100%;
		resize: none;
		padding: .75em;
		border-radius: .25rem;
		border: 1px solid rgba(0,0,0,.125);
	}

	.comment-form .submit{
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: .5rem .75rem;
		font-size: 1rem;
		line-height: 1.25;
		border-radius: .25rem;
		transition: all .15s ease-in-out;
		color: #fff;
	    background-color: #007bff;
	    border-color: #007bff;
	}


/*------------------------------------*\
	$BUTTONS
\*------------------------------------*/

.woocommerce button.single_add_to_cart_button.button:hover,
.woocommerce a.button:hover,
.btn-primary:hover,
.btn-secondary:hover{
	border-color: inherit;
	background-color: inherit;
	box-shadow: rgba(0,0,0,0.2) 4px 4px 0px 100px inset;
}


/*------------------------------------*\
	$SINGLE POST
\*------------------------------------*/

.single-post .alert{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

.single-post .rte{
	margin-top: 35px;
}

.rte img{
	max-width: 100%;
	height: auto;
}

.rte ol, .rte ul{ margin-left: 20px; }

.rte ol{
	list-style-type: decimal;
}

.rte ul{
	list-style-type: disc;
}

/*------------------------------------*\
	$ARCHIVE
\*------------------------------------*/

.card{
	height: 100%;
}

	.card .card-body{
		display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: -o-flex;
	    display: flex;
	    -webkit-flex-flow: column nowrap;
    	-moz-flex-flow: column nowrap;
    	-ms-flex-flow: column nowrap;
    	-o-flex-flow: column nowrap;
    	flex-flow: column nowrap;
	}

	.card .card-body .card-excerpt{ margin-bottom: 20px; }

		.card .card-body .card-excerpt p{ margin-bottom: 5px; }

	.card .card-body .btn{ margin-top: auto; }

	.card .card-footer{ font-size: 12px; }

.pagination li{ padding: 0 5px; }


/*------------------------------------*\
	$SINGLE POST
\*------------------------------------*/

@media screen and (max-width: 768px){

	.single .post-featured-image,
	.single .alert{
		margin-left: -15px;
		margin-right: -15px;
	}
}


/*------------------------------------*\
	$WOOCOMMERCE
\*------------------------------------*/

.woocommerce-product-details__short-description ul,
.woocommerce-product-details__short-description ol,
.woocommerce-Tabs-panel--description ul,
.woocommerce-Tabs-panel--description ol{
	margin-left: 20px;
}

	.woocommerce-product-details__short-description ul li,
	.woocommerce-Tabs-panel--description ul li{ list-style-type: disc; }

	.woocommerce-product-details__short-description ol li,
	.woocommerce-Tabs-panel--description ol li{ list-style-type: decimal; }

.woocommerce #products-4 ul.products li.product, .woocommerce-page ul.products li.product{
	width: 22.05%;
}

.woocommerce #products-3 ul.products li.product, .woocommerce-page ul.products li.product{
	width: 30.8%;
}

.woocommerce #products-2 ul.products li.product, .woocommerce-page ul.products li.product{
	width: 48.1%;
}

.price > ins{ text-decoration: none; }

.price > ins,
.price > ins > span{ color: #8b1f1f; }

@media screen and (max-width: 768px){

	.woocommerce #products-4 ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce #products-3 ul.products li.product, .woocommerce-page ul.products li.product{
		width: 48%;
	}
}

